.footer-container {
    padding: 1rem;   
    text-align: right;
    height: 20%;
    background: var(--light);
    color: var(--dark);
    border: 0rem double var(--dark);
    border-width: 0.5rem 0rem 0rem 0rem;
    background-clip: padding-box;

}

.footer-container.darkMode {
    background-color: var(--dark);
    color: var(--light);
    border-color: var(--pale-light);

}

.footer-nav {
    text-align: left;
}

.footer-nav .font-nav {
    font-weight: bold;
    font-style: italic;
}

.blog-container {
    min-height: 100vh;
}

.blog-container.darkMode {
    background-color: var(--darkmode-background);
    color: var(--light);
}


.blog-entry-details {
    padding: 1rem;
    margin: 1rem;
    border: 0.1rem solid var(--dark);
    width: 100vw;
}

.blog-entry-details h5 {
    border: 1rem solid var(--dark);
    border-width: 0rem 0rem 0.2rem 0rem;
}

.blog-entry-details p {
    font-style: italic;
    text-align: justify;
    margin-left: 1.2rem;

}