.footer-container {
    padding: 1rem;
    height: 15vh;
    text-align: right;
    background: white;
    color: black;
    border: 0px double black;
    border-width: 5px 0px 0px 0px;
    background-clip: padding-box;

}

.footer-container.darkMode {
    background-color: black;
    color: white;
    border-color: whitesmoke;

}

.footer-nav {
    text-align: left;
}

.footer-nav .font-nav {
    font-weight: bold;
    font-style: italic;
}

.blog-container {    
    min-height: 100vh;
}

.blog-container.darkMode {
    background-color: dimgrey;
    color: white;
}


.blog-entry-details{
    padding:10px;
    margin:10px;
    border: 1px solid black;
    width :100vw;
}

.blog-entry-details h5{
    border: 10px solid black;
    border-width: 0px 0px 2px 0px;
}

.blog-entry-details p{
   font-style: italic;   
   text-align: justify;
   margin-left :12px;
   
}