#displayMsg {
    visibility: hidden;
    margin-top: 20px;
    font-weight: 700;
    height: 1.2em;
    font-size: 1.2em;
  }
  
  #displayMsg.success,
  #displayMsg.error {
    visibility: visible;
  }
  
  #displayMsg.success {
    color: #001b44;;
  }
  
  #displayMsg.error {
    color: #e6252c;
  }