:root {
    /* declare a variable with `--` syntax */
    --dark: black;
    --light: white;
    --darkmode-background : dimgrey;
    --error-color: firebrick;   
    --pale-light: whitesmoke;
    --theme-icon-color :#fad905;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
    text-align: center;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
    text-align: center;
}

input,
label,
textarea {
    width: 50vw;
}

.header-container {
    padding: 1rem;
    height: 15%;
    text-align: right;
    background: var(--light);
    color: var(--dark);
    border: 0rem double var(--dark);
    border-width: 0rem 0rem 0.5rem 0rem;
    background-clip: padding-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-container.darkMode {
    background-color: var(--dark);
    color: var(--light);
    border-color: var(--pale-light);

}

.form-container {
    margin: 2.5rem;
}

.form-section.darkMode {
    background-color: var(--darkmode-background);
    color: var(--light);
}

.body-container.darkMode {
    background-color: var(--darkmode-background);
    color: var(--light);
}

aside {
    border: 0rem double var(--dark);
    border-width: 0rem 0.5rem 0rem 0rem;
}

/* Styling for the picture section on the index html */
.side-container {
    width: 50vw;
    height: 100vh;
}

.side-container.darkMode {
    background-color: var(--darkmode-background);
    color: var(--light);
    border-color: var(--light);
}

.story_shape {
    width: 55%;
    height: 50%;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
    margin-top: 30%;
    margin-left: 20%;
}

.story_img {
    height: 100%;
    transform: translateX(-4rem);
    backface-visibility: hidden;
}

.story_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    backface-visibility: hidden;
}

/* Styling for buttons */

button {
    padding: 0.5rem;
    margin: 1rem;
}

.back-button {
    color: var(--light);
    background-color: var(--dark);
}

.back-button.darkMode {
    color: var(--dark);
    background-color: var(--light);
}

.lightmode-button {
    border: 0rem;
    border-radius: 50%;
    color: var(--theme-icon-color);
    background-color: var(--light);
    display: inline;
}

.darkmode-button {
    border: 0rem;
    border-radius: 50%;
    color: var(--theme-icon-color);
    background-color: var(--darkmode-background);
    display: none;
}

.submit-button {
    margin: 0rem;
    width: 50vw;
    color: var(--light);
    background-color: var(--dark);
}

.submit-button.darkMode {
    color: var(--light);
    background-color: var(--dark);
}


/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (max-width: 992px) {

    /* Incorporated post review comments to make page responsive */
    main {
        flex-direction: column;
    }

    aside {
        border-width: 0rem 0rem 0.5rem 0rem;
    }

    .side-container {
        width: 100vw;
        height: 70vh;
    }


    .story_shape {
        width: 40%;
        height: 50%;
        -webkit-shape-outside: circle(40% at 40% 40%);
        shape-outside: circle(40% at 40% 40%);
        clip-path: circle(40% at 40% 40%);
        position: relative;
        margin-top: 30%;
        margin-left: 20%;
    }

    .story_img {
        height: 75%;
        transform: translateX(-4rem);
        backface-visibility: hidden;
    }

    .story_caption {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-40%, -40%);
        color: var(--light);
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align: center;
        backface-visibility: hidden;
    }



}

@media screen and (max-width: 768px) {

    main {
        flex-direction: column;
    }

    aside {
        border-width: 0rem 0rem 0.5rem 0rem;
    }

    .side-container {
        width: 100vw;
        height: 70vh;
    }

    .story_shape {
        width: 30%;
        height: 50%;
        -webkit-shape-outside: circle(30% at 30% 30%);
        shape-outside: circle(30% at 30% 30%);
        clip-path: circle(30% at 30% 30%);
        position: relative;
        margin-top: 30%;
        margin-left: 20%;
    }

    .story_img {
        height: 75%;
        transform: translateX(-4rem);
        backface-visibility: hidden;
    }

    .story_caption {
        position: absolute;
        top: 30%;
        left: 30%;
        transform: translate(-30%, -30%);
        color: var(--light);
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align: center;
        backface-visibility: hidden;
    }


}